<div class="header">
	{{ if .Site.Params.Avatar }}
		<div class="avatar">
			<a href="{{ .Site.BaseURL }}">
				<img src="{{ .Site.Params.Avatar }}" alt="{{ .Site.Title }}" />
			</a>
		</div>
	{{ end }}
	<h1 class="site-title"><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
	<div class="site-description">
		{{- if isset .Site.Params "subtitle" -}}
		<p>{{ .Site.Params.Subtitle | markdownify }}</p>
		{{- end -}}
		<nav class="nav social">
			<ul class="flat">

					<li><a href="https://www.linkedin.com/in/danjoredd/" ><img src="https://img.icons8.com/ios/25/linkedin" alt="LinkedIn"></a></li>
					<li><a href="https://whoisthisjoker.com/post/index.xml" > <img src="https://img.icons8.com/ios/25/rss.png" alt="RSS feed"></a></li>
					<li><a href="https://git.whoisthisjoker.com" > <img src="https://img.icons8.com/ios/25/git.png" alt="Git"></a></li>
					<li><a href="https://danielreddjones.com" > <img src="https://img.icons8.com/ios/25/portfolio.png" alt="Git"></a></li>

			</ul>
		</nav>
	</div>

	<nav class="nav">
		<ul class="flat">
			{{ range .Site.Menus.main }}
			<li>
				<a href="{{ .URL }}">{{ .Name }}</a>
			</li>
			{{ end }}
		</ul>
	</nav>
</div>
