{{ define "main" }}

<main class="w-full h-full bg-white border-4 border-green-800 border-blue-800 p-4">
  <section>
    <div class="right margin">
      <img src="/images/me.png" alt="me" />
      <center><p><a href="http://gitea.whoisthisjoker.com/danjoredd">this is me</a></p></center>
    </div>
    <h1 class="text-xl font-bold">Welcome to Whoisthisjoker.com!</h1>
    <p class="my-4">
      This blog is my little corner of the internet where I upload my projects, write tech retrospectives, or my thoughts on other random topics. 
    </p>
  </section>
  <br>
  <br>

    <div class="row">
      <div class="column">
       <a href="https://www.youtube.com/watch?v=eySkNWTI03Q"> <img src="/images/eyes.gif" alt="Best viewed with your peepers"></a>
      </div>
      <div class="column">
       <a href="https://www.biblegateway.com/"><img src="/images/jesus_now.gif" alt="Jesus now"></a>
      </div>
      <div class="column">
        <a href="https://artixlinux.org/"><img src="/images/linuxnow.gif" alt="Artix"></a>
      </div>
    </div>


</main>

{{ end }}
